.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  padding: 30px;
  height: 100px;
  color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.App-footer {
  background-color: #282c34;
  padding: 10px;
  color: white;
}

.logo {
  display: flex;
  align-items: center;
}

.logo span {
  font-size: 35px;
  font-weight: bold;
}

.logo-image {
  width: 60px;
  height: 60px;
  margin-left: 10px;
}

.timestamps {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 20px;
  margin: 10px;
}

.timestamp {
  display: flex;
  flex-direction: column;
  margin: 25px;
}

span {
  font-size: 35px;
  font-weight: bold;
}

button {
  font-size: 15px;
  padding: 10px 30px;
  background-color: #61dafb;
  color: #282c34;
  border: none;
  cursor: pointer;
}

.dark {
  background-color: #282c34;
  color: white;
}

.dark .timestamp {
  color: white;
}


@media (max-width: 1000px) {
  .App-header {
    flex-direction: column;
    height: 350px;
  }

  .timestamps {
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
  }

  .timestamp {
    margin-bottom: 10px;
  }

}

